.container {
    width: 100%;
    max-width: 120px;
    max-height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 50px;

    .arsSide {
        display: flex;
        align-items: center;
    }

    .usdSide {
        display: flex;
        align-items: center;
    }

    img {
        width: 100%;
        max-width: 50px;
    }
}