.container {
  text-align: center;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
}

.appMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #282c34;

  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}

.auth-form {
  width: 100%;
  max-width: 500px;
  padding: 0 1rem;

  .form-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: left;

    label {
      color: gray;
    }
  }

  .button-block {
    display: flex;
    justify-content: space-around;
  }
}

.addProductInput {
  position: relative;
  margin: 0 auto 15px auto;
  height: 50px;
  max-width: 500px;

  .addProductButtonGroup {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;


    .addProductButton {
      font-family: none;
      padding: 0 15px;
      background-color: dodgerblue;
      height: 95%;
      cursor: pointer;
      transition: .2s all ease-in-out;

      .addProductIcon {
        color: white;
        font-size: 20px;
      }
    }
  }
  
}

.finishButtonsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.addTotalInput {
  height: 50px;
}

.adviceMessage {
  .adviceLink {
    color: dodgerblue;
  }
}

.addNewListDiv {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 5px;

  .addNewListIcon {
    color: white;
    background-color: dodgerBlue;
    padding: 5px;
  }
}