.App {
  text-align: center;
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;

  h1 {
    font-size: 2rem;
  }
}

.auth-form {
  width: 100%;
  max-width: 500px;
  padding: 0 1rem;

  .form-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: left;

    label {
      color: gray;
    }
  }

  .button-block {
    display: flex;
    justify-content: space-around;
  }
}

.addProductInput {
  position: relative;
  margin: 0 auto;
  height: 50px;
  max-width: 500px;

  .addProductButtonGroup {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;

    .addProductButton {
      font-family: none;
      padding: 0 15px;
      background-color: dodgerblue;
      height: 95%;

      .addProductIcon {
        color: white;
        font-size: 20px;
      }
    }
  }
  
}

//LET'S TRY PUTTING ICON INSIDE INPUT TAG BRO