.navbar {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    padding: .5rem;

    .container {
        width: 100%;
        max-width: 1700px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            font-size: 25px;
            font-weight: 700;
            color: rgb(85, 85, 85);
            cursor: pointer;
        }

        .signGroup {
            display: flex;
            align-items: center;
            gap: 10px;
            color: gray;
            transition: .3s all ease;
            cursor: pointer;

            &:hover {
                color: rgb(187, 187, 187);
            }

            span {
                font-size: 15px;
            }

            .icon {
                font-size: 25px;
                color: gray;
                transition: .2s all ease-in-out;
            }

            .icon:hover {
                color: rgb(156, 156, 156);
            }
        }
    }
}